.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1em;
}

h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4em;
}

a {
  color: #fff;
  font-weight: 600;
}

li {
  grid-column-gap: .125em;
  grid-row-gap: .125em;
  font-size: 1.25rem;
  line-height: 1.4em;
  display: flex;
}

.body {
  height: 100vh;
  color: #eee;
  background-image: linear-gradient(#333, #000);
  align-items: stretch;
  font-family: Manrope, sans-serif;
  display: flex;
}

.main {
  height: 100vh;
  display: flex;
}

.paragraph {
  margin-bottom: .5em;
  font-size: 1.25rem;
  line-height: 1.4em;
}

.flex-block {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-self: stretch;
  padding: 3rem 4rem;
}

.listitem {
  margin-bottom: .5em;
  font-size: 1.25rem;
  line-height: 1.4em;
}

.footerlist {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: wrap;
  flex: 1;
  align-self: auto;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.flex-block-2 {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-direction: row;
}

.heading {
  margin-top: 0;
  margin-bottom: .5em;
  line-height: 1.4em;
}

.list-item {
  display: flex;
}

.section {
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 767px) {
  .main {
    padding: 2rem 3rem;
  }

  .flex-block-2 {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .main {
    padding: 1.5rem 2rem;
  }

  .paragraph {
    margin-bottom: 1em;
    font-size: 1.25rem;
    line-height: 1.625em;
  }

  .flex-block {
    padding: 2rem 2rem 2rem 1.5rem;
  }

  .listitem {
    margin-bottom: 1em;
    font-size: 1.125rem;
    line-height: 1.5em;
  }

  .footerlist {
    flex-direction: row;
    align-self: stretch;
  }

  .flex-block-2 {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    flex-direction: column;
    align-self: stretch;
  }

  .footerlink {
    font-size: 1rem;
  }
}


